<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ts" mimeType="text/plain" />
            <mimeMap fileExtension=".json" mimeType="text/plain" />
            <!--<clientCache cacheControlMode="DisableCache" />-->
        </staticContent>
        
    </system.webServer>
</configuration>
